body {
    font-family: "Courier New";
}

table {
    border: 1px solid;   
    border-collapse: collapse;
    border-color: black;
    
}

tr th {     
        border: 1px solid;
        padding: 15px;
        border-color: black;  
    }

tr td {
    
    border: 1px solid;
    padding: 15px;
    border-color: black;
}

ul {
    padding-left: 40px;
    
}

ol {
    padding-left: 52px;   
}

.note {
    font-size: 30px;
    font-weight: normal;
}

.wiki {
    font-weight: 900;
    font-size: 16px;
}

.step2 {
    list-style-image: url(mark.jpg);
}

.step4 {
    list-style-type: decimal-leading-zero;

}

.step4 li {
    
    padding-left: 35px;

}

.step5 {
    list-style-type: none;
    font-size: 50px;
    padding-left: 65px;
}
     
.step5 li:before { 
    content: "➔"; 
}

.info {
    font-size: 14px;
    list-style-type: none;
    color: rgba(71, 17, 135, 0.80);
    padding-left: 5px;
}

.step3 {
    list-style-type: upper-alpha;
}

.size16 {
    font-size: 16px;
}