body {
    font-family: "Courier New";
}

table {
    border-width: 1px;
    border-spacing: 0;
    border-style: dotted;
    border-right-style: none;
    border-bottom-style: none;
}

tr td {
    
    border-width: 1px;
    padding: 15px;
    border-style: dotted;
    border-top-style: none;
    border-left-style: none;

}

ul {
    padding-left: 40px;
    
}

ol {
    padding-left: 52px;   
}

.note {
    font-size: 30px;
    font-weight: normal;
}

.wiki {
    font-weight: 900;
    font-size: 16px;
}

.step2 {
    list-style-image: url(mark.jpg);
}

.step4 {
    list-style-type: decimal-leading-zero;

}

.step4 li {
    
    padding-left: 35px;

}

.step5 {

    list-style-type: "➔";
    font-size: 50px;
}

.info {
    font-size: 14px;
    list-style-type: none;
    color: rgba(71, 17, 135, 0.80);
    padding-left: 5px;
}

.step3 {
    list-style-type: upper-alpha;
}

span {
    font-size: 16px;
}